@import 'tailwindcss';
@config "../tailwind.config.js";

* {
	font-family: 'Roboto Mono', sans-serif;
}

[data-today],
[data-today][data-selected] {
	background-color: #ecedee;
	color: black;
}

[data-selected] {
	background-color: transparent;
	border: 1px #ecedee solid;
	color: #ecedee;
}
